<form method="POST" action="/new">
    <label for="authorName">Name: </label>
    <input id="authorName" type="text" name="authorName">
    <br/>
    <label for="msgText">Message: </label>
    <textarea name="message" id="msgText"></textarea>
    <button  type="submit">Submit</button>
 </form>
 